Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang

[SQUASH ME]ASoC: Intel sdw_rt711_rt1308_rt715: Replace old macro
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: soc-acpi: transition to generic SoundWire machine driver
  sound/soc/intel/common/soc-acpi-intel-cml-match.c
  sound/soc/intel/common/soc-acpi-intel-icl-match.c
  sound/soc/intel/common/soc-acpi-intel-tgl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: soc-acpi: fix CML RVP
  sound/soc/intel/common/soc-acpi-intel-cml-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ALSA: core: sysfs: show components string
  sound/core/init.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: Make glk+rt5682 echo ref dynamic
  sound/soc/intel/boards/glk_rt5682_max98357a.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: transition to generic SoundWire machine driver
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/sdw_rt700.c
  sound/soc/intel/boards/sof_sdw.c
  sound/soc/intel/boards/sof_sdw_common.h
  sound/soc/intel/boards/sof_sdw_dmic.c
  sound/soc/intel/boards/sof_sdw_hdmi.c
  sound/soc/intel/boards/sof_sdw_rt1308.c
  sound/soc/intel/boards/sof_sdw_rt700.c
  sound/soc/intel/boards/sof_sdw_rt711.c
  sound/soc/intel/boards/sof_sdw_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw: only init DMICs once
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: boards: sof_sdw: redefined MONO_SPK quirk
  sound/soc/intel/boards/sof_sdw.c
  sound/soc/intel/boards/sof_sdw_common.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: sof_da7219_max98373: Add speaker switch
  sound/soc/intel/boards/sof_da7219_max98373.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw: use PRODUCT_SKU instead of PRODUCT_NAME
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: SOF: Introduce extended manifest
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: SOF: Intel: hda: Improve DSP state logging
  sound/soc/sof/intel/hda-dsp.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw: Add Volteer support with RT5682 SNDW helper function
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/sof_sdw.c
  sound/soc/intel/boards/sof_sdw_common.h
  sound/soc/intel/boards/sof_sdw_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: common: add match table for TGL RT5682 SoundWire driver
  sound/soc/intel/common/soc-acpi-intel-tgl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ALSA: hda: Add ElkhartLake HDMI codec vid
  sound/pci/hda/patch_hdmi.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: add PCI ID for ElkhartLake
  sound/soc/sof/sof-pci-dev.c
Owners: @lyakh, @bardliao, @libinyang

ASoC: intel: sof_sdw: remove SOF_SDW_NO_AGGREGATION from Dell laptops
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw: add SKU for validation device
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: (cosmetic) use for_each_pcm_streams() in sof_dai_load()
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: fix uninitialised "work" with VirtIO
  sound/soc/sof/pcm.c
  sound/soc/sof/sof-audio.h
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @lgirdwood, @plbossart, @kv2019i, @dbaluta, @singalsu, @bardliao

soundwire: stream: move to for_each_rtd_dais
  drivers/soundwire/stream.c
Owners: @bardliao, @RanderWang

ASoC: SOF: Intel: hda: do not leave clock gating off upon error
  sound/soc/sof/intel/hda-ctrl.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: call codec wake at chip init
  sound/soc/sof/intel/hda-ctrl.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

topology: add a dedicated field for PDM index
  sound/soc/sof/sof-priv.h
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @singalsu, @bardliao

ASoC: Intel: boards: support Elkhart Lake with rt5660
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/ehl_rt5660.c
  sound/soc/intel/common/soc-acpi-intel-ehl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ALSA: HDA: intel-dsp-config: add DMI info for Dell laptop
  sound/hda/intel-dsp-config.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

drm/i915/display: Fix mode private_flags comparison at atomic_check
  drivers/gpu/drm/i915/display/intel_display.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: reduce verbosity on SoundWire detection
  sound/soc/sof/intel/hda.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ALSA: hda: add autodetection for SoundWire
  sound/hda/intel-dsp-config.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: intel_init: reset link_mask
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

ipc: mqueue.c: avoid NULL comparison
  ipc/mqueue.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ipc: add blank lines after declarations
  ipc/compat.c
  ipc/ipc_sysctl.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ipc: remove parentheses around the right hand side of assignments
  ipc/sem.c
  ipc/shm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

init: replace bit shifting with BIT macro
  init/calibrate.c
  init/do_mounts_md.c
  init/main.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

init: add space after ','
  init/calibrate.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: sof_sdw_rt1308: amp_num should be += num_codecs
  sound/soc/intel/boards/sof_sdw_rt1308.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: sof_sdw_rt1308: Use dai_links->num_codecs to test which spk_init should be use
  sound/soc/intel/boards/sof_sdw_rt1308.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: sof_sdw: No need to call codec init one by one in the same dailink
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: remove unneeded variables
  sound/soc/sof/intel/hda-codec.c
  sound/soc/sof/nocodec.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @libinyang

drm/i915: use forced codec wake on all gen9+ platforms
  drivers/gpu/drm/i915/display/intel_audio.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta
