Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

ASoC: intel/skl/hda - fix oops on systems without i915
  sound/soc/intel/boards/skl_hda_dsp_generic.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: core: Do not set dev drvdata in snd_soc_register_card
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: sof-sdw: remove CONFIG_SND_SOC_SOF_HDA_AUDIO_CODEC condition
  sound/soc/intel/boards/sof_sdw.c
  sound/soc/intel/boards/sof_sdw_hdmi.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: sof_pcm512x: remove CONFIG_SND_HDA_CODEC_HDMI condition
  sound/soc/intel/boards/sof_pcm512x.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Implementation of Virtual Bus
  Documentation/driver-api/virtual_bus.rst
  drivers/bus/Kconfig
  drivers/bus/Makefile
  drivers/bus/virtual_bus.c
  include/linux/mod_devicetable.h
  include/linux/virtual_bus.h
  scripts/mod/devicetable-offsets.c
  scripts/mod/file2alias.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

virtual-bus: Add uevent callback
  drivers/bus/virtual_bus.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

virtual-bus: Add generic PM ops for virtual_bus_type
  drivers/bus/virtual_bus.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Introduce descriptors for SOF client
  sound/soc/sof/Kconfig
  sound/soc/sof/Makefile
  sound/soc/sof/core.c
  sound/soc/sof/sof-client.c
  sound/soc/sof/sof-client.h
  sound/soc/sof/sof-priv.h
Owners: @keyonjie, @libinyang, @plbossart, @dbaluta, @lgirdwood, @ranj063, @kv2019i, @lyakh, @juimonen

ASoC: SOF: Create client driver for IPC test
  sound/soc/sof/Kconfig
  sound/soc/sof/Makefile
  sound/soc/sof/sof-ipc-test-client.c
Owners: @keyonjie, @libinyang, @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: ops: Add new op for client registration
  sound/soc/sof/core.c
  sound/soc/sof/intel/apl.c
  sound/soc/sof/intel/bdw.c
  sound/soc/sof/intel/byt.c
  sound/soc/sof/intel/cnl.c
  sound/soc/sof/ops.h
  sound/soc/sof/sof-priv.h
Owners: @plbossart, @dbaluta, @lgirdwood, @ranj063, @kv2019i, @lyakh, @keyonjie, @juimonen

ASoC: SOF: debug: Remove IPC flood test support in SOF core
  sound/soc/sof/Kconfig
  sound/soc/sof/debug.c
  sound/soc/sof/sof-priv.h
Owners: @keyonjie, @libinyang, @ranj063, @xiulipan, @lyakh, @juimonen

ASoC: SOF: sof-client: Add client APIs to access probes ops
  sound/soc/sof/sof-client.c
  sound/soc/sof/sof-client.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Add new client driver for probes support
  sound/soc/sof/Kconfig
  sound/soc/sof/Makefile
  sound/soc/sof/compress.c
  sound/soc/sof/core.c
  sound/soc/sof/debug.c
  sound/soc/sof/intel/hda-dai.c
  sound/soc/sof/intel/hda.h
  sound/soc/sof/pcm.c
  sound/soc/sof/probe.c
  sound/soc/sof/probe.h
  sound/soc/sof/sof-priv.h
  sound/soc/sof/sof-probes-client.c
Owners: @keyonjie, @libinyang, @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @xiulipan, @lyakh, @juimonen

ASoC: SOF: Intel: CNL: Register client device for probes support
  sound/soc/sof/intel/cnl.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: compress: move and export sof_probe_compr_ops
  sound/soc/sof/compress.c
  sound/soc/sof/compress.h
  sound/soc/sof/intel/hda-dai.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: topology: send ipc for all found DAIs in sof_set_dai_config
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: topology: replace sof_link_hda_process by sof_set_dai_config
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: topology: set component dai_index to ipc dai config dai_index
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: Intel: sof-wm8804: cleanups for upstream
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/bxt_wm8804.c
  sound/soc/intel/boards/sof_wm8804.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: soc-acpi: change machine driver name for WM8804 platforms
  sound/soc/intel/common/soc-acpi-intel-bxt-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: move sdw_master_device as part of the context
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: merge sdw_master_add_device() and sdw_add_bus_master()
  drivers/soundwire/bus.h
  drivers/soundwire/intel.c
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

ASoC: SOF: topology: Add support for Crossover
  include/sound/sof/topology.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

Revert "soundwire: qcom: add sdw_master_device support"
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

Revert "soundwire: qcom: add bus handle for master device"
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: clarify SPDX use of GPL-2.0
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/bus_type.c
  drivers/soundwire/cadence_master.c
  drivers/soundwire/cadence_master.h
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
  drivers/soundwire/mipi_disco.c
  drivers/soundwire/slave.c
  drivers/soundwire/stream.c
  include/linux/soundwire/sdw.h
  include/linux/soundwire/sdw_intel.h
  include/linux/soundwire/sdw_registers.h
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

[SQUASHME] soundwire: allocation: clarify SPDX use of GPL-2.0
  drivers/soundwire/generic_bandwidth_allocation.c
Owners: @bardliao, @RanderWang

ASoC: SOF: topology: add support to smart amplifier
  include/sound/sof/topology.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

soundwire: (cosmetic) remove a superfluous "else"
  drivers/soundwire/bus.c
Owners: @bardliao, @RanderWang

ASoC: SOF: imx8: fix Kconfig unmet dependency
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: imx: fix depends/select IMX_DSP confusion
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ARM: futex: Address build warning
  arch/arm/include/asm/futex.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ALSA: hda: Always use jackpoll helper for jack update after resume
  sound/pci/hda/hda_codec.c
  sound/pci/hda/hda_intel.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ALSA: hda: Refactor Intel NHLT init
  sound/hda/intel-nhlt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: imx: fix depends/select IMX_DSP confusion"
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: imx8: fix Kconfig unmet dependency"
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Add missing dependency on IMX_SCU
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: imx: fix depends/select IMX_DSP confusion
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

.travis.yaml: bump image to 18.04 bionic
  .travis.yml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

.travis.yml: bump GCC version to 9
  .travis.yml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang
