Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang

ASoC: Intel: SOF: merge COMETLAKE_LP and COMETLAKE_H
  sound/hda/intel-dsp-config.c
  sound/soc/intel/boards/Kconfig
  sound/soc/sof/intel/Kconfig
  sound/soc/sof/sof-pci-dev.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @bardliao, @libinyang

ALSA: hda: Intel: add missing PCI IDs for ICL-H, TGL-H and EKL
  sound/pci/hda/hda_intel.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: add PCI IDs for ICL-H and TGL-H
  sound/soc/sof/sof-pci-dev.c
Owners: @lyakh, @bardliao, @libinyang

ASoC: SOF: Intel: add PCI ID for CometLake-S
  sound/soc/sof/sof-pci-dev.c
Owners: @lyakh, @bardliao, @libinyang

ASoC: SOF: nocodec: conditionally set dpcm_capture/dpcm_playback flags
  sound/soc/sof/nocodec.c
Owners: @bardliao, @libinyang

fixup! ASoC: codecs: rt*-sdw: use SDW_SLAVE_ENTRY_EXT
  sound/soc/codecs/rt5682-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: bus: initialize bus clock base and scale registers
  drivers/soundwire/bus.c
  include/linux/soundwire/sdw_registers.h
Owners: @bardliao, @RanderWang

Implementation of Virtual Bus
  Documentation/driver-api/index.rst
  Documentation/driver-api/virtual_bus.rst
  drivers/bus/Kconfig
  drivers/bus/Makefile
  drivers/bus/virtual_bus.c
  include/linux/mod_devicetable.h
  include/linux/virtual_bus.h
  scripts/mod/devicetable-offsets.c
  scripts/mod/file2alias.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Introduce descriptors for SOF client
  sound/soc/sof/Kconfig
  sound/soc/sof/Makefile
  sound/soc/sof/core.c
  sound/soc/sof/sof-client.c
  sound/soc/sof/sof-client.h
  sound/soc/sof/sof-priv.h
Owners: @keyonjie, @libinyang, @plbossart, @dbaluta, @lgirdwood, @ranj063, @kv2019i, @lyakh, @juimonen

ASoC: SOF: ops: Add new op for client registration
  sound/soc/sof/core.c
  sound/soc/sof/intel/Kconfig
  sound/soc/sof/intel/apl.c
  sound/soc/sof/intel/bdw.c
  sound/soc/sof/intel/byt.c
  sound/soc/sof/intel/cnl.c
  sound/soc/sof/ops.h
  sound/soc/sof/sof-priv.h
Owners: @plbossart, @dbaluta, @lgirdwood, @ranj063, @kv2019i, @lyakh, @keyonjie, @juimonen

ASoC: SOF: debug: Remove IPC flood test support in SOF core
  sound/soc/sof/Kconfig
  sound/soc/sof/debug.c
  sound/soc/sof/sof-priv.h
Owners: @keyonjie, @libinyang, @ranj063, @xiulipan, @lyakh, @juimonen

ASoC: SOF: Create client driver for IPC test
  sound/soc/sof/Kconfig
  sound/soc/sof/Makefile
  sound/soc/sof/sof-ipc-test-client.c
Owners: @keyonjie, @libinyang, @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: IPC: make sof_ipc_window monosized
  include/sound/sof/info.h
  include/uapi/sound/sof/abi.h
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @dbaluta

ASoC: Intel: Boards: cml_rt1011_rt5682: reduce log level for printing quirk
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "soundwire: clarify SPDX use of GPL-2.0"
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/bus_type.c
  drivers/soundwire/cadence_master.c
  drivers/soundwire/cadence_master.h
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
  drivers/soundwire/mipi_disco.c
  drivers/soundwire/slave.c
  drivers/soundwire/stream.c
  include/linux/soundwire/sdw.h
  include/linux/soundwire/sdw_intel.h
  include/linux/soundwire/sdw_registers.h
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

Revert "ALSA: core: sysfs: show components string"
  sound/core/init.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: Boards: cml_rt1011_rt5682: use statically define codec config
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: cml_rt1011_rt5682: use for_each_card_prelinks
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: cml_rt1011_rt5682: find dai link with dai link name
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: cml_rt1011_rt5682: use for_each_card_prelinks
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-core: reduce verbosity of BE override message
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-link: introduce exit() callback
  include/sound/soc-link.h
  include/sound/soc.h
  sound/soc/soc-core.c
  sound/soc/soc-link.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: bdw-rt5677: fix module load/unload issues
  sound/soc/intel/boards/bdw-rt5677.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: kbl-rt5660: use .exit() dailink callback to release gpiod
  sound/soc/intel/boards/kbl_rt5660.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: bdw-rt5677: fix non BE conversion
  sound/soc/intel/boards/bdw-rt5677.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-pcm: improve error messages in soc_pcm_new()
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-pcm/compress: reduce verbosity on mapping ok messages
  sound/soc/soc-compress.c
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: pcm: skip BE from soc_dpcm_fe_runtime_update
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-pcm: fix checks for multi-cpu FE dailinks
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: intel: cml_rt1011_rt5682: use for_each_card_prelinks
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoc: Intel: cml_rt1011_rt5682: explicitly access first codec
  sound/soc/intel/boards/cml_rt1011_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-devres: add devm_snd_soc_register_dai()
  include/sound/soc.h
  sound/soc/soc-devres.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-topology: use devm_snd_soc_register_dai()
  sound/soc/soc-topology.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta
