Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang

.travis.yaml: add TRAVIS support for CLANG
  .travis.yml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: loader: Adjust validation condition for fw_offset
  sound/soc/sof/intel/hda-loader.c
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

soundwire: qcom: add sdw_master_device support
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

[RFC] soundwire: move sdw_master_device_add to sdw_add_bus_master
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
  drivers/soundwire/master.c
  include/linux/soundwire/sdw.h
  include/linux/soundwire/sdw_intel.h
Owners: @bardliao, @RanderWang

include/linux/soundwire/sdw_type.h: move sdw_master_device to bus
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

include/linux/soundwire/sdw.h: move sdw_master_device to bus
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

drivers/soundwire/intel.h: move sdw_master_device to bus
  drivers/soundwire/intel.h
Owners: @bardliao, @RanderWang

drivers/soundwire/bus.h: move sdw_master_device to bus
  drivers/soundwire/bus.h
Owners: @bardliao, @RanderWang

soundwire: rename sdw bus master add/delete API
  Documentation/driver-api/soundwire/summary.rst
  drivers/soundwire/bus.c
  drivers/soundwire/intel.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

ASoC: SOF: add control to enable dsp io debugging
  sound/soc/sof/Kconfig
  sound/soc/sof/debug.c
Owners: @keyonjie, @libinyang, @ranj063, @xiulipan

ASoC: SOF: fix enabled core mask during suspend
  sound/soc/sof/pm.c
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @singalsu, @bardliao

soundwire: add slave deivce type
  drivers/soundwire/bus_type.c
  drivers/soundwire/slave.c
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

soundwire: add bus link ops
  drivers/soundwire/master.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: qcom: fix error handling in probe
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: intel: transition to sdw_master_device
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: intel: use a single module
  drivers/soundwire/Makefile
Owners: @bardliao, @RanderWang

soudwire: bus_type: add sdw_master_device support
  drivers/soundwire/Makefile
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/intel.c
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

ALSA: hda/hdmi: fix race in monitor detection during probe
  sound/pci/hda/patch_hdmi.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

drivers/soundwire/qcom.c: move sdw_master_device to bus
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

drivers/soundwire/bus.c: move sdw_master_device to bus
  drivers/soundwire/bus.c
Owners: @bardliao, @RanderWang

drivers/soundwire/intel_init.c: move sdw_master_device to bus
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

drivers/soundwire/master.c: move sdw_master_device to bus
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

drivers/soundwire/intel.c: move sdw_master_device to bus
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

Documentation/driver-api/soundwire/summary.rst: move sdw_master_device to bus
  Documentation/driver-api/soundwire/summary.rst
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-pcm: dpcm: fix playback/capture checks
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: define INFO_ flags in dsp_ops
  sound/soc/sof/imx/imx8m.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: imx: fix depends/select IMX_DSP confusion"
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: qcom: fix error handling in probe
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: intel: transition to sdw_master_device
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: bus: rename sdw_bus_master_add/delete, add arguments
  Documentation/driver-api/soundwire/summary.rst
  drivers/soundwire/bus.c
  drivers/soundwire/intel.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

soundwire: bus_type: add sdw_master_device support
  drivers/soundwire/Makefile
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: bus: add link_ops support for extensions
  drivers/soundwire/master.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: bus_type: introduce sdw_slave_type and sdw_master_type
  drivers/soundwire/bus_type.c
  drivers/soundwire/slave.c
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

ASoC: SOF: Introduce extended manifest
  include/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: ext_manifest: parse firmware version
  include/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: Update correct LED status at the first time usage of update_mute_led()
  sound/soc/sof/control.c
  sound/soc/sof/sof-audio.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @lgirdwood, @plbossart, @kv2019i, @dbaluta, @bardliao, @juimonen

soundwire: bus: rename sdw_bus_master_add/delete, add arguments
  Documentation/driver-api/soundwire/summary.rst
  drivers/soundwire/bus.c
  drivers/soundwire/intel.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

soundwire: qcom: fix error handling in probe
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: intel: transition to sdw_intel_master_device
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: bus_type: add sdw_master_device support
  drivers/soundwire/Makefile
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang
