Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

ASoC: SOF: Mark get_ext* function ext_hdr arguments as const
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: Intel: haswell-dsp: refine D0<->D3 transition sequence
  sound/soc/intel/haswell/sst-haswell-dsp.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

drm/i915: apply AUD_FREQ_CNTRL state save to all GEN9+ platforms
  drivers/gpu/drm/i915/display/intel_audio.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: don't use GFP_ATOMIC for machine driver contexts
  sound/soc/intel/boards/cml_rt1011_rt5682.c
  sound/soc/intel/boards/sof_da7219_max98373.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: rt1308-sdw: add set_tdm_slot() support
  sound/soc/codecs/rt1308-sdw.c
  sound/soc/codecs/rt1308-sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_rt711_1308_715: set tdm slots for amplifiers
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: rt1308-sdw: use slot and rx_mask to configure stream
  sound/soc/codecs/rt1308-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_rt711_rt1308_rt715: Disable aggregated feature for validation
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: boards: tgl_sdw_rt5682: Add machine driver
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/tgl_sdw_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: cadence: fix pop noise issue when start playback
  drivers/soundwire/cadence_master.c
Owners: @bardliao, @RanderWang

ASoC: Intel: soc-acpi: fix ICL 3-in-1 default table
  sound/soc/intel/common/soc-acpi-intel-icl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: cadence: fix clock_stop() return value
  drivers/soundwire/cadence_master.c
Owners: @bardliao, @RanderWang

ASoC: SOF: topology: fix: handle DAI widget connections properly with multiple CPU DAI's
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: Introduce offset in firmware data
  include/sound/sof.h
  sound/soc/sof/intel/hda-loader.c
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: Introduce extended manifest
  include/uapi/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: ext_manifest: parse firmware version
  include/uapi/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: ext_manifest: parse windows
  include/uapi/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: ext_manifest: parse compiler version
  include/uapi/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: soc-pcm: Merge for_each_rtd_cpu/codec_dais()
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-core: Merge CPU/Codec for soc_dai_pcm_new()
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-core: Merge CPU/Codec DAIs
  include/sound/soc.h
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-dapm: Merge for_each_rtd_cpu/codec_dais()
  sound/soc/soc-dapm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-core: Merge for_each_rtd_cpu/codec_dais()
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-pcm: Merge CPU/Codec MSB at soc_pcm_apply_msb()
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: intel: remove unnecessary dev_err logs
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: cadence: remove dev_dgb log in sdw_cadence_is_clock_stop()
  drivers/soundwire/cadence_master.c
Owners: @bardliao, @RanderWang

ASoC: SOF: Intel: hda: ignore unused links in sdw machine select
  sound/soc/sof/intel/hda.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: imx: fix undefined reference issue"
  sound/soc/sof/imx/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: imx: fix compilation with allyesconfig"
  sound/soc/sof/imx/imx8.c
  sound/soc/sof/imx/imx8m.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "dt-bindings: dsp: fsl: Add fsl,imx8mp-dsp entry"
  Documentation/devicetree/bindings/dsp/fsl,dsp.yaml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: Add i.MX8MP device descriptor"
  sound/soc/sof/sof-of-dev.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: imx: Add i.MX8M HW support"
  sound/soc/sof/imx/Kconfig
  sound/soc/sof/imx/Makefile
  sound/soc/sof/imx/imx8m.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "documentation: dts: Add fsl,imx8qm-dsp entry"
  Documentation/devicetree/bindings/dsp/fsl,dsp.yaml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: cadence: simplify code for sdw_cdns_clock_stop()
  drivers/soundwire/cadence_master.c
Owners: @bardliao, @RanderWang

[DO NOT MERGE] drm/i915: use forced wake on all gen9+ platforms
  drivers/gpu/drm/i915/display/intel_audio.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

[DO NOT MERGE] ASoC: SOF: Intel: hda: call codec wake at chip init
  sound/soc/sof/intel/hda-ctrl.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

[DO NOT MERGE] drm/i915: fix encoder setup at boot
  drivers/gpu/drm/i915/display/intel_display.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: optimize bandwidth for multiple Slaves on single link
  drivers/soundwire/generic_bandwidth_allocation.c
Owners: @bardliao, @RanderWang

ASoC: Intel: sof_rt5682: Add support for tgl-max98373-rt5682
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/sof_maxim_common.c
  sound/soc/intel/boards/sof_maxim_common.h
  sound/soc/intel/boards/sof_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: common: Add mach table for tgl-max98373-rt5682
  sound/soc/intel/common/soc-acpi-intel-tgl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang
