Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang

[RFC] ASoC: SOF: Intel: hda: fix HDA codec probe error
  sound/soc/sof/intel/hda-codec.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: Kconfig: filter out not-recommended features
  sound/soc/intel/Kconfig
  sound/soc/intel/boards/Kconfig
  sound/soc/sof/intel/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: topology: parse sof process mux/demux tokens
  include/uapi/sound/sof/tokens.h
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @singalsu, @bardliao

Revert "ACPI: PM: s2idle: Prevent spurious SCIs from waking up the system"
  drivers/acpi/sleep.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ACPI: PM: s2idle: Check fixed wakeup events in acpi_s2idle_wake()
  drivers/acpi/acpica/evevent.c
  drivers/acpi/sleep.c
  include/acpi/acpixf.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

[SQUASHME] ASoC: soc-generic-dmaengine-pcm: fix integer/pointer confusion
  sound/soc/soc-generic-dmaengine-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-acpi: expand description of _ADR-based devices
  include/sound/soc-acpi.h
  sound/soc/intel/common/soc-acpi-intel-cml-match.c
  sound/soc/intel/common/soc-acpi-intel-icl-match.c
  sound/soc/intel/common/soc-acpi-intel-tgl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: add indirection to access _ADR information
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: add indirection due to soc-acpi header change
  sound/soc/sof/intel/hda.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: remove platform devices
  drivers/soundwire/Makefile
  drivers/soundwire/bus_type.c
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
  drivers/soundwire/master.c
  drivers/soundwire/slave.c
  include/linux/soundwire/sdw.h
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

soundwire: intel: use a single module
  drivers/soundwire/Makefile
Owners: @bardliao, @RanderWang

[WORKAROUND] soundwire: intel: disable pm_runtime before unregistering master device
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

drm/i915/psr: Force PSR probe only after full initialization
  drivers/gpu/drm/i915/display/intel_psr.c
  drivers/gpu/drm/i915/display/intel_psr.h
  drivers/gpu/drm/i915/i915_drv.c
  drivers/gpu/drm/i915/i915_drv.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-pcm: fix 2 minor merge issues
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: bus: align with upstream
  drivers/soundwire/bus.c
Owners: @bardliao, @RanderWang

ASoC: SOF: Make sof_ipc_ext_data enum more rigid
  include/sound/sof/info.h
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: SOF: Remove SOF_IPC_EXT_DMA_BUFFER
  include/sound/sof/info.h
  sound/soc/sof/loader.c
  sound/soc/sof/sof-priv.h
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

Revert "ASoC: Intel: Work around to fix HW D3 potential crash issue"
  sound/soc/intel/common/sst-dsp.h
  sound/soc/intel/haswell/sst-haswell-dsp.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: hda-dai: add stream capability
  sound/soc/sof/intel/hda-dai.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: generic_bandwidth_allocation: adjust dp offset for multiple Slaves on single link
  drivers/soundwire/generic_bandwidth_allocation.c
Owners: @bardliao, @RanderWang

ASoC: Intel: sdw_711_rt1308_rt715: support multi-cpu DAI in init_dai_link
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: check endpoint descriptor to get BE DAI number
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: generate CPU & codec DAI base on endpoint descriptor
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: fix DMIC DAI on DELL XPS
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ALSA: hda - handle multiple i915 instances in acomp matching
  sound/hda/hdac_i915.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: support multi-cpu DAI in init_dai_link
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: check endpoint descriptor to get BE DAI number
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: generate CPU & codec DAI base on endpoint descriptor
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: fix DMIC DAI on DELL XPS
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: remove unnecessary ROM IPC filter function
  sound/soc/sof/intel/hda-ipc.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sdw_711_rt1308_rt715: refine format for all calls to init_dai_link
  sound/soc/intel/boards/sdw_rt711_rt1308_rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: dapm: Correct DAPM handling of active widgets during shutdown"
  sound/soc/soc-dapm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: soc-component: tidyup snd_soc_pcm_component_sync_stop()"
  sound/soc/soc-component.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

RD: fix proposal from Ranjani
  sound/soc/soc-dapm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Documentation: SoundWire: clarify TDM mode support
  Documentation/driver-api/soundwire/stream.rst
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-core: disable route checks for legacy devices
  include/sound/soc.h
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: skl_hda_generic: set disable_route_checks
  sound/soc/intel/boards/skl_hda_dsp_generic.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: skl_nau88l25_ssm4567: disable route checks
  sound/soc/intel/boards/skl_nau88l25_ssm4567.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: intel: hda-dai: Remove stream name from dai driver
  sound/soc/sof/intel/hda-dai.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: remove unnecessary waitq before loading firmware
  sound/soc/sof/intel/cnl.c
  sound/soc/sof/intel/hda-ipc.c
  sound/soc/sof/intel/hda-loader.c
  sound/soc/sof/intel/hda.c
  sound/soc/sof/intel/hda.h
  sound/soc/sof/loader.c
  sound/soc/sof/sof-priv.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen
