Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

rpmsg: add a device ID to also bind to the ADSP device
  drivers/rpmsg/virtio_rpmsg_bus.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

vhost: add an SOF Audio DSP driver
  drivers/vhost/Kconfig
  drivers/vhost/Makefile
  drivers/vhost/adsp.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

rpmsg: increase buffer size and reduce buffer number
  include/linux/virtio_rpmsg.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

[DEBUG]: ASoC: SOF: keep DSP state if topology load fails
  sound/soc/sof/core.c
  sound/soc/sof/topology.c
Owners: @plbossart, @dbaluta, @ranj063, @singalsu, @bardliao, @juimonen

ASoC: core: only convert non DPCM link to DPCM link
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: load generic module if no other module is loaded
  sound/soc/sof/intel/hda-codec.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: bus_type: convert open-coded while() to for() loop
  drivers/soundwire/bus_type.c
Owners: @bardliao, @RanderWang

soundwire: extend SDW_SLAVE_ENTRY
  drivers/soundwire/bus_type.c
  include/linux/mod_devicetable.h
  include/linux/soundwire/sdw.h
  scripts/mod/devicetable-offsets.c
  scripts/mod/file2alias.c
Owners: @bardliao, @RanderWang, @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: rt*-sdw: use SDW_SLAVE_ENTRY_EXT
  sound/soc/codecs/rt1308-sdw.c
  sound/soc/codecs/rt5682-sdw.c
  sound/soc/codecs/rt700-sdw.c
  sound/soc/codecs/rt711-sdw.c
  sound/soc/codecs/rt715-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

MAINTAINERS: Add gpio regmap section
  MAINTAINERS
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

gpio: add a reusable generic gpio_chip using regmap
  drivers/gpio/Kconfig
  drivers/gpio/Makefile
  drivers/gpio/gpio-regmap.c
  include/linux/gpio/regmap.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

gpiolib: Introduce gpiochip_irqchip_add_domain()
  drivers/gpio/gpiolib.c
  include/linux/gpio/driver.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: pcm512x: expose 6 GPIOs
  sound/soc/codecs/Kconfig
  sound/soc/codecs/pcm512x.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof-pcm512x: use gpiod for LED
  sound/soc/intel/boards/sof_pcm512x.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: pcm512x: use "sclk" string to retrieve clock
  sound/soc/codecs/pcm512x.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: initial import
  drivers/clk/Kconfig
  drivers/clk/Makefile
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof-pcm512x: reconfigure sclk in hw_params if needed
  sound/soc/intel/boards/sof_pcm512x.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof-pcm512x: select HIFIBERRY_DACPRO clk
  sound/soc/intel/boards/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof-pcm512x: detect Hifiberry DAC+ PRO
  sound/soc/intel/boards/sof_pcm512x.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: add "sclk" lookup
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: dt-bindings: add document for Hifiberry DAC+ PRO clock
  Documentation/devicetree/bindings/sound/hifiberry-dacpro.yaml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: add ACPI support
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: add delay on clock prepare/deprepare
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: transition to _hw functions
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: add OF dependency
  drivers/clk/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: toggle GPIOs on prepare/unprepare
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: update SDPX/copyright
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

clk: hifiberry-dacpro: style cleanups, use devm_
  drivers/clk/clk-hifiberry-dacpro.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: byt*: simplify card names for SOF uses
  sound/soc/intel/boards/bytcht_cx2072x.c
  sound/soc/intel/boards/bytcht_da7213.c
  sound/soc/intel/boards/bytcht_es8316.c
  sound/soc/intel/boards/bytcr_rt5640.c
  sound/soc/intel/boards/bytcr_rt5651.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: broadwell: simplify card names for SOF uses
  sound/soc/intel/boards/bdw-rt5650.c
  sound/soc/intel/boards/bdw-rt5677.c
  sound/soc/intel/boards/broadwell.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: cht*: simplify card names for SOF uses
  sound/soc/intel/boards/cht_bsw_max98090_ti.c
  sound/soc/intel/boards/cht_bsw_nau8824.c
  sound/soc/intel/boards/cht_bsw_rt5645.c
  sound/soc/intel/boards/cht_bsw_rt5672.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: add generic hda codec support
  sound/soc/sof/intel/hda-codec.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup: ASoC: Intel: cht*: simplify card names for SOF uses
  sound/soc/intel/boards/cht_bsw_rt5645.c
  sound/soc/intel/boards/cht_bsw_rt5672.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: ext_manifest: Parse debug ABI version
  include/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: core: only convert non DPCM link to DPCM link
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: soc-pcm: dpcm: fix playback/capture checks
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: boards: replace capture_only by dpcm_capture
  sound/soc/intel/boards/glk_rt5682_max98357a.c
  sound/soc/intel/boards/kbl_da7219_max98927.c
  sound/soc/intel/boards/kbl_rt5663_max98927.c
  sound/soc/intel/boards/kbl_rt5663_rt5514_max98927.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Revert "ASoC: SOF: Intel: add PCI ID for CometLake-S"
  sound/soc/sof/intel/Kconfig
  sound/soc/sof/sof-pci-dev.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @bardliao, @libinyang

ASoC: intel: sof_rt5682: Add support for jsl-max98360a-rt5682
  sound/soc/intel/boards/sof_rt5682.c
  sound/soc/intel/common/soc-acpi-intel-jsl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

drm/i915: do AUD_FREQ_CNTRL state save on all gen9+ platforms
  drivers/gpu/drm/i915/display/intel_audio.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang
