Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

soundwire: intel-master: extensions to platform_ or virtbus_device
  drivers/soundwire/Kconfig
  drivers/soundwire/Makefile
  drivers/soundwire/intel_master.c
  drivers/soundwire/intel_master.h
Owners: @bardliao, @RanderWang

soundwire: bus_type: introduce sdw_slave_type and sdw_master_type
  drivers/soundwire/bus_type.c
  drivers/soundwire/slave.c
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

ASoC: Intel: sof_sdw: fix typo in components string
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: ext_manifest: parse windows
  include/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: ext_manifest: parse compiler version
  include/sound/sof/ext_manifest.h
  sound/soc/sof/loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

drivers: add priority to manage driver list in predictable manner
  drivers/base/bus.c
  include/linux/device/driver.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: pci: define priority level for driver
  sound/soc/sof/sof-pci-dev.c
Owners: @lyakh, @bardliao, @libinyang

ASoC: SOF: Intel: sdw: relax sdw machine select constraints to support more sdw platforms
  sound/soc/sof/intel/hda.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

drivers: add priority to manage driver list in predictable manner
  drivers/base/bus.c
  include/linux/device/driver.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: add class driver support
  drivers/soundwire/bus_type.c
  include/linux/mod_devicetable.h
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang, @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: add skeleton for SoundWire device class driver
  sound/soc/codecs/Kconfig
  sound/soc/codecs/Makefile
  sound/soc/codecs/sdca.c
  sound/soc/codecs/sdca.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: rt1316-sdw: set priority
  sound/soc/codecs/rt1316-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codec: rt1316-sdw: add pretend codec
  sound/soc/codecs/Kconfig
  sound/soc/codecs/Makefile
  sound/soc/codecs/rt1316-sdw.c
  sound/soc/codecs/rt1316-sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: request soc-snd-sdca module during startup
  sound/soc/sof/intel/hda.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ktest: new ssh-watch.sh
  tools/testing/ktest/ssh-watch.sh
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

[RFC] ASoC: SOF: topology: Add support for TDFB processing component
  include/sound/sof/topology.h
  include/uapi/sound/sof/abi.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen, @lyakh, @dbaluta

ASoC: Intel: cht_bsw_nau8824: remap BTN_0 as KEY_PLAYPAUSE
  sound/soc/intel/boards/cht_bsw_nau8824.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw_rt700: remap buttons
  sound/soc/intel/boards/sof_sdw_rt700.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw_rt711: remap buttons
  sound/soc/intel/boards/sof_sdw_rt711.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ktest: new examples/reboot-ubuntu20-once.conf
  tools/testing/ktest/examples/reboot-ubuntu20-once.conf
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: SOF: Introduce extended manifest
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: SOF: add a power_down_notify method
  sound/soc/sof/pm.c
  sound/soc/sof/sof-priv.h
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: SOF: inform DSP that driver is going to be removed
  sound/soc/sof/core.c
Owners: @plbossart, @dbaluta

ASoC: SOF: Do nothing when DSP PM callbacks are not set
  sound/soc/sof/pm.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: use snd_soc_dai/component_activity()
  sound/soc/soc-compress.c
  sound/soc/soc-core.c
  sound/soc/soc-dapm.c
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-dai: add snd_soc_dai_activity()
  include/sound/soc-dai.h
  sound/soc/soc-dai.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: meson: use snd_soc_dai/component_activity()
  sound/soc/meson/axg-tdm-interface.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel: use snd_soc_dai/component_activity()
  sound/soc/intel/atom/sst-mfld-platform-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-dai: add snd_soc_component_activity()
  include/sound/soc-component.h
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: jz4740: use snd_soc_dai/component_activity()
  sound/soc/jz4740/jz4740-i2s.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: mediatek: use snd_soc_dai/component_activity()
  sound/soc/mediatek/mt8173/mt8173-afe-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: use snd_soc_dai/component_activity()
  sound/soc/codecs/adav80x.c
  sound/soc/codecs/arizona.c
  sound/soc/codecs/madera.c
  sound/soc/codecs/max98090.c
  sound/soc/codecs/tlv320aic23.c
  sound/soc/codecs/tlv320dac33.c
  sound/soc/codecs/uda1380.c
  sound/soc/codecs/wl1273.c
  sound/soc/codecs/wm8711.c
  sound/soc/codecs/wm8753.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: cirrus: use snd_soc_dai/component_activity()
  sound/soc/cirrus/ep93xx-i2s.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: atomel: use snd_soc_dai/component_activity()
  sound/soc/atmel/atmel_ssc_dai.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: bcm: use snd_soc_dai/component_activity()
  sound/soc/bcm/bcm2835-i2s.c
  sound/soc/bcm/cygnus-ssp.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: fsl: use snd_soc_dai/component_activity()
  sound/soc/fsl/fsl_esai.c
  sound/soc/fsl/fsl_spdif.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-dai: add snd_soc_dai_stream_activity()
  include/sound/soc-dai.h
  sound/soc/codecs/cs4271.c
  sound/soc/dwc/dwc-i2s.c
  sound/soc/soc-core.c
  sound/soc/soc-dai.c
  sound/soc/soc-dapm.c
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: uniphier: use snd_soc_dai/component_activity()
  sound/soc/uniphier/aio-cpu.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: ti: use snd_soc_dai/component_activity()
  sound/soc/ti/davinci-mcasp.c
  sound/soc/ti/omap-dmic.c
  sound/soc/ti/omap-mcbsp.c
  sound/soc/ti/omap-mcpdm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: cleanup dai / component active code
  include/sound/soc-component.h
  include/sound/soc-dai.h
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang
