Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

ASoC: Intel: sof_sdw_hdmi: fix compilation issue in fallback mode
  sound/soc/intel/boards/sof_sdw_hdmi.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: topology: Add support for DC Blocker
  include/sound/sof/topology.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: Intel: hda: remove unnecessary parentheses
  sound/soc/sof/intel/hda-dsp.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Add XRUN flags field to struct sof_ipc_buffer.
  include/sound/sof/topology.h
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: Intel: sof_da7219_max98373: Add BE dailink for dmic16k
  sound/soc/intel/boards/sof_da7219_max98373.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: SOF: Introduce extended manifest
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

fixup! ASoC: SOF: topology: fix: handle DAI widget connections properly with multiple CPU DAI's
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: topology: config ALH dai in sof_widget_load_dai
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: intel: sof_sdw: init all aggregated codecs
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: intel/skl/hda - set autosuspend timeout for hda codecs
  sound/soc/codecs/hdac_hda.c
  sound/soc/codecs/hdac_hda.h
  sound/soc/intel/boards/skl_hda_dsp_generic.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: Fix typo in header file comment text
  include/sound/sof/dai-intel.h
Owners: @ranj063, @singalsu, @juimonen

ASoC: SOF: Intel: Change DMIC load IPC to fixed length
  include/sound/sof/dai-intel.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @juimonen, @bardliao

ASoC: SOF: Intel: Rename deprecated DMIC IPC struct field
  include/sound/sof/dai-intel.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @juimonen, @bardliao

ASoC: SOF: Turn "firmware boot complete" message into a dbg message
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

soundwire: bus: reduce verbosity on enumeration
  drivers/soundwire/bus.c
Owners: @bardliao, @RanderWang

Revert "[NOT FOR UPSTREAM] ASoC: SOF: enable DEBUG by default"
  sound/soc/sof/Makefile
  sound/soc/sof/intel/Makefile
  sound/soc/sof/xtensa/Makefile
Owners: @keyonjie, @libinyang, @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: rt1308-sdw: reduce verbosity
  sound/soc/codecs/rt1308-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: add a COMP_CORE_ID token
  include/uapi/sound/sof/tokens.h
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: intel/skl/hda - set autosuspend timeout for hda codecs
  sound/soc/intel/boards/skl_hda_dsp_generic.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

.travis.yml: swap Travis and Jenkins check patch --strict roles.
  .travis.yml
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

Fake check patch CHK to test previous commit
  .travis.yml
  scripts/checkpatch.pl
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof-da7219-max98373: add DMIC widget and route
  sound/soc/intel/boards/sof_da7219_max98373.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: hda: log number of microphones detected in NHLT tables
  sound/soc/sof/intel/hda.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: soc-core: Add dynamic debug logs in soc_dai_link_sanity_check()
  sound/soc/soc-core.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: boards: add explicit dependency on GPIOLIB when DMIC is used
  sound/soc/intel/boards/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: add function parameters to enable forced path pruning
  include/sound/soc-dpcm.h
  sound/soc/soc-compress.c
  sound/soc/soc-dapm.c
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: extract firmware-related operation into a function
  sound/soc/sof/core.c
Owners: @plbossart, @dbaluta

ASoC: SOF: support IPC with immediate response
  sound/soc/sof/ipc.c
  sound/soc/sof/ops.h
Owners: @lyakh, @dbaluta, @ranj063, @keyonjie

ASoC: SOF: add a power status IPC
  include/sound/sof/header.h
  sound/soc/sof/core.c
  sound/soc/sof/ipc.c
  sound/soc/sof/loader.c
  sound/soc/sof/sof-priv.h
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @plbossart, @dbaluta

ASoC: SOF: add two helper lookup functions
  sound/soc/sof/sof-audio.c
  sound/soc/sof/sof-audio.h
  sound/soc/sof/topology.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @bardliao, @juimonen

ASoC: SOF: control: make sof_abi_hdr optional in bytes set and get
  sound/soc/sof/control.c
Owners: @ranj063, @singalsu

ASoC: SOF: topology: make sof_abi_hdr optional in loading bytes from topology
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: topology: stop parsing when all tokens have been found
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: topology: handle multiple sets of tuple arrays
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

soundwire: stream: remove use of cpu_dais
  drivers/soundwire/stream.c
Owners: @bardliao, @RanderWang

ASoC: Intel: sof_sdw_rt5682: remove codec_dai use
  sound/soc/intel/boards/sof_sdw_rt5682.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw_rt700: remove codec_dai use
  sound/soc/intel/boards/sof_sdw_rt700.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: bxt_wm8804: remove use of codec_dai
  sound/soc/intel/boards/bxt_wm8804.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw_rt711: remove codec_dai use
  sound/soc/intel/boards/sof_sdw_rt711.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw_hdmi: remove codec_dai use
  sound/soc/intel/boards/sof_sdw_hdmi.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang
