Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

ASoC: Intel: sof_sdw_rt1308: remove codec dai use
  sound/soc/intel/boards/sof_sdw_rt1308.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: Intel: boards: support Elkhart Lake with rt5660
  sound/soc/intel/boards/ehl_rt5660.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: drivers/soundwire/bus_type.c: use sdw_link_ops
  drivers/soundwire/bus_type.c
Owners: @bardliao, @RanderWang

drivers/soundwire/bus_type.c
  drivers/soundwire/bus.h
  drivers/soundwire/bus_type.c
Owners: @bardliao, @RanderWang

soundwire: drivers/soundwire/intel.c: use sdw_link_ops
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: drivers/soundwire/intel_init.c: use sdw_link_ops
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

revert [WORKAROUND] soundwire: intel: disable pm_runtime before unregistering master device
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: master: use device node pointer from master device
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: include/linux/soundwire/sdw.h: use sdw_link_ops
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: drivers/soundwire/intel.h: use sdw_link_ops
  drivers/soundwire/intel.h
Owners: @bardliao, @RanderWang

soundwire: drivers/soundwire/master.c: use sdw_link_ops
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: qcom: fix error handling in probe
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: qcom: add sdw_master_device support
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: intel: feedback from Ranjani
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: include/linux/soundwire/sdw_type.h: use sdw_link_ops
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

drivers/soundwire/slave.c: use .uevent for slave
  drivers/soundwire/slave.c
Owners: @bardliao, @RanderWang

Revert "soundwire: stream: only change state if needed"
  drivers/soundwire/stream.c
Owners: @bardliao, @RanderWang

soundwire: intel: Only call sdw stream APIs for the first cpu_dai
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

ASoC: SOF: align sof_ipc_dai_alh_params with FW
  include/sound/sof/dai-intel.h
Owners: @ranj063, @singalsu, @juimonen

ASoC: SOF: topology: Get ALH rate amd channels from topology
  include/uapi/sound/sof/tokens.h
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @singalsu, @bardliao

soundwire: intel: initialize bus handle
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: master: add bus handle
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: debugfs: clarify SDPX license with GPL-2.0-only
  drivers/soundwire/debugfs.c
Owners: @bardliao, @RanderWang

soundwire: qcom: add bus handle for master device
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: slave: don't init debugfs on device registration error
  drivers/soundwire/slave.c
Owners: @bardliao, @RanderWang

soundwire: master: clarify SPDX with GPL-2.0-only
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

ASoC: intel: add depends on SND_SOC_SOF_HDA_AUDIO_CODEC for common hdmi
  sound/soc/intel/boards/Kconfig
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw: add amp number in components string for ucm
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: bus_type: revert sdw_bus_match change for master type
  drivers/soundwire/bus_type.c
Owners: @bardliao, @RanderWang

soundwire: separate sdw master and slave bus type
  drivers/soundwire/bus_type.c
  drivers/soundwire/intel.c
  drivers/soundwire/master.c
  drivers/soundwire/slave.c
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

soudwire: move sdw_slave_uevent back to sdw_slave_bus_type
  drivers/soundwire/bus.h
  drivers/soundwire/bus_type.c
  drivers/soundwire/slave.c
Owners: @bardliao, @RanderWang

ASoC: intel: sof_sdw_rt711: rename sdw_bus_type
  sound/soc/intel/boards/sof_sdw_rt711.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: move * to the type line
  drivers/soundwire/master.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

ASoC: soc-dai: revert all changes to DAI startup/shutdown sequence
  include/sound/soc-dai.h
  sound/soc/soc-dai.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: topology: fix: parse hda_tokens to &config->hda
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen

ASoC: SOF: topology: Get HDA rate and channels from topology
  include/sound/sof/dai-intel.h
  include/uapi/sound/sof/abi.h
  include/uapi/sound/sof/tokens.h
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @juimonen, @lyakh, @dbaluta, @keyonjie, @bardliao

ASoC: SOF: Intel: change trigger sequence to fix pop noise when stopping playback on sdw platforms
  sound/soc/sof/pcm.c
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @singalsu, @bardliao

ASoC: SOF: don't dereference user-space variables
  sound/soc/sof/control.c
Owners: @ranj063, @singalsu

ASoC: SOF: add a "core" parameter to widget loading functions
  sound/soc/sof/sof-priv.h
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @singalsu, @bardliao

ASoC: SOF: support topology components on slave cores
  include/uapi/sound/sof/tokens.h
  sound/soc/sof/sof-audio.c
  sound/soc/sof/sof-audio.h
  sound/soc/sof/topology.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @lgirdwood, @plbossart, @kv2019i, @dbaluta, @singalsu, @bardliao

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang
