Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang

ASoC: pxa: use snd_soc_dai/component_activity()
  sound/soc/pxa/pxa-ssp.c
  sound/soc/pxa/pxa2xx-i2s.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: rt*-sdw: don't assign slave_ops
  sound/soc/codecs/rt1308-sdw.c
  sound/soc/codecs/rt5682-sdw.c
  sound/soc/codecs/rt700-sdw.c
  sound/soc/codecs/rt711-sdw.c
  sound/soc/codecs/rt715-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codec: rt1308-sdw: remove duplicate allocation
  sound/soc/codecs/rt1308-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: rt*-sdw.c: fix memory leak in set_sdw_stream()
  sound/soc/codecs/rt1308-sdw.c
  sound/soc/codecs/rt5682.c
  sound/soc/codecs/rt700.c
  sound/soc/codecs/rt711.c
  sound/soc/codecs/rt715.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

fixup! ASoC: SOF: Introduce extended manifest
  sound/soc/sof/loader.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

soundwire: add definitions for 1.2 spec
  include/linux/soundwire/sdw_registers.h
Owners: @bardliao, @RanderWang

soundwire: qcom: fix error handling in probe
  drivers/soundwire/qcom.c
Owners: @bardliao, @RanderWang

soundwire: (cosmetic) remove multiple superfluous "else" statements
  drivers/soundwire/bus.c
Owners: @bardliao, @RanderWang

fixup! ASoC: SOF: inform DSP that driver is going to be removed
  sound/soc/sof/core.c
Owners: @plbossart, @dbaluta

soundwire: master: add sysfs support
  Documentation/ABI/testing/sysfs-bus-soundwire-master
  drivers/soundwire/master.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

soundwire: disco: s/ch/channels/
  drivers/soundwire/mipi_disco.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: add Slave sysfs support
  Documentation/ABI/testing/sysfs-bus-soundwire-slave
  drivers/soundwire/Makefile
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/bus_type.c
  drivers/soundwire/sysfs_local.h
  drivers/soundwire/sysfs_slave.c
  drivers/soundwire/sysfs_slave_dpn.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

ASoC: SOF: Intel: hda: report error only for the last ROM init iteration
  sound/soc/sof/intel/hda-loader.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: soc-acpi: cnl: add support for rt5682 on SoundWire link2
  sound/soc/intel/common/soc-acpi-intel-cnl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof-soundwire: add support for rt5682 on link2
  sound/soc/intel/boards/sof_sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: intel: (cosmetic) remove multiple superfluous "else" statements
  drivers/soundwire/cadence_master.c
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: bus: rename sdw_bus_master_add/delete, add arguments
  Documentation/driver-api/soundwire/summary.rst
  drivers/soundwire/bus.c
  drivers/soundwire/intel.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

soundwire: bus: add unique bus id
  drivers/soundwire/bus.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: bus_type: introduce sdw_slave_type and sdw_master_type
  drivers/soundwire/bus_type.c
  drivers/soundwire/slave.c
  include/linux/soundwire/sdw_type.h
Owners: @bardliao, @RanderWang

soundwire: bus_type: add sdw_master_device support
  drivers/soundwire/Makefile
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/intel.c
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: intel: transition to 3 steps initialization
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: intel: use a single module
  drivers/soundwire/Makefile
Owners: @bardliao, @RanderWang

soundwire: master: add runtime pm support
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: intel: use a single module
  drivers/soundwire/Makefile
Owners: @bardliao, @RanderWang

Revert "soundwire: intel: Make sdw_intel_init static"
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

soundwire: intel: remove sdw_type.h
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: intel: remove bus from intel_bus_remove
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: master: add runtime pm support
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: master: use bus->id as master device name
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: bus: add unique bus id
  drivers/soundwire/bus.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: use a single API to add/delete master device
  drivers/soundwire/bus.c
  drivers/soundwire/bus.h
  drivers/soundwire/intel.c
  drivers/soundwire/master.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: master: enable pm runtime
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: bus: rename sdw_bus_master_add/delete, add arguments
  Documentation/driver-api/soundwire/summary.rst
  drivers/soundwire/bus.c
  drivers/soundwire/intel.c
  drivers/soundwire/qcom.c
  include/linux/soundwire/sdw.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @bardliao, @RanderWang

soundwire: intel: use platform device
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

fixup master device
  drivers/soundwire/bus.c
  drivers/soundwire/intel.c
  drivers/soundwire/master.c
Owners: @bardliao, @RanderWang

soundwire: remove bus link_ops
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
  drivers/soundwire/master.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: intel: transition to 3 steps initialization
  drivers/soundwire/intel.c
  drivers/soundwire/intel.h
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

topology: add a generic process component type
  include/sound/sof/topology.h
Owners: @ranj063, @singalsu, @bardliao, @juimonen

topology: add subtype to sof_ipc_comp as flavour of the component type
  include/sound/sof/topology.h
Owners: @ranj063, @singalsu, @bardliao, @juimonen

topology: change to use generic process components
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen
