Repository thesofproject/linux, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @juimonen, @lyakh, @keyonjie, @bardliao, @xiulipan, @libinyang, @RanderWang

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*	@lgirdwood @plbossart @ranj063 @kv2019i @dbaluta

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
include/sound/sof/control.h			@ranj063 @singalsu @dbaluta
include/sound/sof/dai.h				@ranj063 @singalsu @juimonen @dbaluta
include/sound/sof/dai-intel.h			@ranj063 @singalsu @juimonen
include/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/info.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/pm.h				@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/stream.h			@lyakh @ranj063 @keyonjie @juimonen
include/sound/sof/topology.h			@ranj063 @singalsu @bardliao @juimonen
include/sound/sof/trace.h			@juimonen @lyakh @kv2019i
include/sound/sof/xtensa.h			@lyakh @xiulipan

include/uapi/sound/sof/abi.h			@lyakh @juimonen @dbaluta
include/uapi/sound/sof/eq.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/fw.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/header.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/manifest.h		@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tokens.h			@lyakh @ranj063 @keyonjie @juimonen
include/uapi/sound/sof/tone.h			@singalsu @ranj063 @juimonen
include/uapi/sound/sof/trace.h			@juimonen @lyakh @kv2019i


# core parts
sound/soc/sof/compressed			@plbossart @dbaluta
sound/soc/sof/control.c				@ranj063 @singalsu
sound/soc/sof/core.c				@plbossart @dbaluta
sound/soc/sof/debug.c				@ranj063 @xiulipan
sound/soc/sof/ipc.c				@lyakh @dbaluta
sound/soc/sof/Kconfig				@lyakh @dbaluta
sound/soc/sof/loader.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/Makefile				@lyakh @dbaluta
sound/soc/sof/nocodec.c				@bardliao @libinyang
sound/soc/sof/ops.*				@lyakh @ranj063 @keyonjie
sound/soc/sof/pcm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/pm.c				@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/sof-acpi-dev.c			@juimonen @RanderWang
sound/soc/sof/sof-pci-dev.c			@lyakh @bardliao @libinyang
sound/soc/sof/sof-priv.h			@lyakh @ranj063 @keyonjie @juimonen
sound/soc/sof/topology.c			@ranj063 @singalsu @bardliao @juimonen
sound/soc/sof/trace.c				@juimonen @lyakh @kv2019i
sound/soc/sof/utils.c				@juimonen @lyakh @kv2019i

# intel parts
sound/soc/sof/apl.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/bdw.c				@RanderWang @keyonjie
sound/soc/sof/byt.c				@juimonen @keyonjie
sound/soc/sof/cnl.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-bus.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda-codec.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-ctrl.c			@keyonjie @libinyang @bardliao
sound/soc/sof/hda-dai.c				@keyonjie @libinyang @bardliao @RanderWang
sound/soc/sof/hda-dsp.c				@keyonjie @libinyang @bardliao
sound/soc/sof/hda.h				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-ipc.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-loader.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-pcm.c				@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-stream.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/hda-trace.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/intel-ipc.c			@keyonjie @libinyang @bardliao @lyakh
sound/soc/sof/Kconfig				@keyonjie @libinyang
sound/soc/sof/Makefile				@keyonjie @libinyang
sound/soc/sof/shim.h				@keyonjie @libinyang @bardliao @lyakh @juimonen

# SoundWire parts
drivers/soundwire				@bardliao @RanderWang
include/linux/soundwire				@bardliao @RanderWang

ASoC: SOF: bump the ABI minor version
  include/uapi/sound/sof/abi.h
Owners: @lyakh, @juimonen, @dbaluta

ASoC: SOF: Intel: byt: Add PM callbacks
  sound/soc/sof/intel/byt.c
  sound/soc/sof/pm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen

ASoC: SOF: Intel: BYT: mask BUSY or DONE interrupts in handler
  sound/soc/sof/intel/byt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: byt: Add PM callbacks
  sound/soc/sof/intel/byt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: pm: handle resume on legacy Intel platforms
  sound/soc/sof/pm.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: Intel: byt/cht: add .pm_ops
  sound/soc/intel/boards/bytcht_cx2072x.c
  sound/soc/intel/boards/bytcht_da7213.c
  sound/soc/intel/boards/bytcht_es8316.c
  sound/soc/intel/boards/bytcr_rt5640.c
  sound/soc/intel/boards/bytcr_rt5651.c
  sound/soc/intel/boards/cht_bsw_max98090_ti.c
  sound/soc/intel/boards/cht_bsw_nau8824.c
  sound/soc/intel/boards/cht_bsw_rt5645.c
  sound/soc/intel/boards/cht_bsw_rt5672.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: bytcr_rt5640/51: remove .ignore_suspend
  sound/soc/intel/boards/bytcr_rt5640.c
  sound/soc/intel/boards/bytcr_rt5651.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: codecs: Added MAX98373 Soundwire Driver
  sound/soc/codecs/Kconfig
  sound/soc/codecs/Makefile
  sound/soc/codecs/max98373-sdw.c
  sound/soc/codecs/max98373-sdw.h
  sound/soc/codecs/max98373.c
  sound/soc/codecs/max98373.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: sof_sdw: Add MAX98373 SNDW helper function for Volteer Board
  sound/soc/intel/boards/Kconfig
  sound/soc/intel/boards/Makefile
  sound/soc/intel/boards/sof_sdw.c
  sound/soc/intel/boards/sof_sdw_common.h
  sound/soc/intel/boards/sof_sdw_max98373.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: common: add match table for TGL MAX98373 + RT5682 SoundWire driver
  sound/soc/intel/common/soc-acpi-intel-tgl-match.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

vhost: (cosmetic) remove a superfluous variable initialisation
  drivers/vhost/vhost.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

vhost: convert VHOST_VSOCK_SET_RUNNING to a generic ioctl
  include/uapi/linux/vhost.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

rpmsg: move common structures and defines to headers
  drivers/rpmsg/virtio_rpmsg_bus.c
  include/linux/virtio_rpmsg.h
  include/uapi/linux/rpmsg.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

rpmsg: update documentation
  Documentation/rpmsg.txt
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

vhost: add an RPMsg API
  drivers/vhost/Kconfig
  drivers/vhost/Makefile
  drivers/vhost/rpmsg.c
  drivers/vhost/vhost_rpmsg.h
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: add function parameters to enable forced path pruning
  include/sound/soc-dpcm.h
  sound/soc/soc-compress.c
  sound/soc/soc-dapm.c
  sound/soc/soc-pcm.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: extract firmware-related operation into a function
  sound/soc/sof/core.c
Owners: @plbossart, @dbaluta

ASoC: SOF: add a power status IPC
  include/sound/sof/header.h
  sound/soc/sof/core.c
  sound/soc/sof/ipc.c
  sound/soc/sof/loader.c
  sound/soc/sof/sof-priv.h
Owners: @lyakh, @ranj063, @keyonjie, @juimonen, @plbossart, @dbaluta

ASoC: SOF: add two helper lookup functions
  sound/soc/sof/sof-audio.c
  sound/soc/sof/sof-audio.h
  sound/soc/sof/topology.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @singalsu, @bardliao, @juimonen

ASoC: SOF: add an RPMsg VirtIO DSP driver
  include/sound/sof.h
  include/sound/sof/header.h
  include/sound/sof/rpmsg.h
  include/sound/sof/topology.h
  include/uapi/linux/virtio_ids.h
  sound/soc/sof/Kconfig
  sound/soc/sof/Makefile
  sound/soc/sof/core.c
  sound/soc/sof/ipc.c
  sound/soc/sof/pcm.c
  sound/soc/sof/rpmsg-vfe.c
  sound/soc/sof/sof-priv.h
  sound/soc/sof/topology.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @lyakh, @keyonjie, @juimonen, @singalsu, @bardliao, @libinyang

ASoC: SOF: support IPC with immediate response
  sound/soc/sof/ipc.c
  sound/soc/sof/ops.h
Owners: @lyakh, @dbaluta, @ranj063, @keyonjie

ASoC: SOF: add a vhost driver: sound part
  include/sound/soc-topology.h
  include/sound/sof/rpmsg.h
  include/uapi/linux/vhost.h
  include/uapi/linux/vhost_types.h
  sound/soc/soc-pcm.c
  sound/soc/sof/Makefile
  sound/soc/sof/core.c
  sound/soc/sof/ipc.c
  sound/soc/sof/pcm.c
  sound/soc/sof/pm.c
  sound/soc/sof/sof-audio.c
  sound/soc/sof/sof-audio.h
  sound/soc/sof/sof-priv.h
  sound/soc/sof/topology.c
  sound/soc/sof/vhost-vbe.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta, @keyonjie, @libinyang, @lyakh, @juimonen, @singalsu, @bardliao

ASoC: SOF: VirtIO: free guest pipelines upon termination
  include/sound/sof/rpmsg.h
  sound/soc/sof/vhost-vbe.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: use a macro instead of a hard-coded value
  sound/soc/sof/pm.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: codecs: rt*-sdw.c: fix off-by-one port count
  sound/soc/codecs/rt1308-sdw.c
  sound/soc/codecs/rt5682-sdw.c
  sound/soc/codecs/rt700-sdw.c
  sound/soc/codecs/rt711-sdw.c
  sound/soc/codecs/rt715-sdw.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: byt: Add PM callbacks
  sound/soc/sof/intel/byt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: pm: handle resume on legacy Intel platforms
  sound/soc/sof/pm.c
Owners: @lyakh, @ranj063, @keyonjie, @juimonen

ASoC: Intel: bytcr_rt5640/51: remove .ignore_suspend
  sound/soc/intel/boards/bytcr_rt5640.c
  sound/soc/intel/boards/bytcr_rt5651.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: Intel: byt/cht: add .pm_ops
  sound/soc/intel/boards/bytcht_cx2072x.c
  sound/soc/intel/boards/bytcht_da7213.c
  sound/soc/intel/boards/bytcht_es8316.c
  sound/soc/intel/boards/bytcr_rt5640.c
  sound/soc/intel/boards/bytcr_rt5651.c
  sound/soc/intel/boards/cht_bsw_max98090_ti.c
  sound/soc/intel/boards/cht_bsw_nau8824.c
  sound/soc/intel/boards/cht_bsw_rt5645.c
  sound/soc/intel/boards/cht_bsw_rt5672.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: ipc: ignore DSP replies received when they are not expected
  sound/soc/sof/ipc.c
  sound/soc/sof/sof-priv.h
Owners: @lyakh, @dbaluta, @ranj063, @keyonjie, @juimonen

ASoC: SOF: Intel: BYT: add remove op
  sound/soc/sof/intel/byt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: BYT: mask BUSY or DONE interrupts in handler
  sound/soc/sof/intel/byt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

ASoC: SOF: Intel: BYT: harden IPC initialization and handling
  sound/soc/sof/intel/byt.c
Owners: @lgirdwood, @plbossart, @ranj063, @kv2019i, @dbaluta

soundwire: intel: enable test modes
  drivers/soundwire/intel.c
Owners: @bardliao, @RanderWang

soundwire: enable Data Port test modes
  drivers/soundwire/bus.c
  drivers/soundwire/generic_bandwidth_allocation.c
  drivers/soundwire/stream.c
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: sdw.h: fix indentation
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: sdw.h: fix PRBS/Static_1 swapped definitions
  include/linux/soundwire/sdw.h
Owners: @bardliao, @RanderWang

soundwire: cadence: add data port test fail interrupt
  drivers/soundwire/cadence_master.c
Owners: @bardliao, @RanderWang

fixup! soundwire: intel: transition to 3 steps initialization
  drivers/soundwire/intel_init.c
Owners: @bardliao, @RanderWang

ASoC: SOF: make scheduler component optional when enabling DSP cores
  sound/soc/sof/topology.c
Owners: @ranj063, @singalsu, @bardliao, @juimonen
